<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceGISSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://servicegis.genco3.com/webservicegis.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceGISSoap"
                contract="ScadaWebService.WebServiceGISSoap" name="WebServiceGISSoap" />
        </client>
    </system.serviceModel>
</configuration>